<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecart">
  <listeners>
  			<listener class-name="com.asynctric.qa.util.Listener"/>
  </listeners>
  <test name="Regration">

    <classes>
      	<class name="com.asynctric.qa.Testcase.LoginPageTest"/>
		
   	</classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
