<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  			<listener class-name="com.asynctric.qa.util.Listener"/>
  			<listener class-name="Analyzer.Transformer"/>
  </listeners>
  <test name="Demo">
    <classes>
      <class name="com.asynctric.qa.Testcase.HomePageTest"/>
      <class name="com.asynctric.qa.Testcase.RegistrationPageTest"/>
      <class name="com.asynctric.qa.Testcase.LoginPageTest"/>
      <class name="com.asynctric.qa.Testcase.CategoriesMenTest"/>
      <class name="com.asynctric.qa.Testcase.AddressPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
